{% extends 'base.html.twig' %}

{% block title %}New UserReview{% endblock %}

{% block body %}
    <h1>Create new UserReview</h1>

    {{ include('user_review/_form.html.twig') }}

    <a href="{{ path('user_review_index') }}">back to list</a>
{% endblock %}
