{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Movie{% endblock %}

{% block body %}
<div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 form-group">
        <h1>Create new Movie</h1>
    </div>
</div>

    {{ include('movie/_form.html.twig') }}

    <a href="{{ path('movie_index') }}">Back</a>
{% endblock %}
